
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
	color: #24292e;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 600;
}

code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
