
/*------------------------------*/
/* basic */
/*------------------------------*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
	color: #24292e;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
}

code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/*------------------------------*/
/* header */
/*------------------------------*/

body > header {
	background: #2E8555;
}

body > header nav {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

body > header section {
	height: 50px;
	display: flex;
	align-items: center;
}

body > header section > * {
	margin: 0 10px;
}

body > header section > *:first-child {
	margin-left: 0;
}

body > header section > *:last-child {
	margin-right: 0;
}

body > header a {
	font-weight: 500;
	color: white;
}

/*------------------------------*/
/* footer */
/*------------------------------*/

body > footer {
	background: #20232a;
}

body > footer nav {
	max-width: 1400px;
	margin: 0 auto;
	height: 150px;
}

/*------------------------------*/
/* main */
/*------------------------------*/

body > main {
	max-width: 1400px;
	margin: 40px auto;
	display: flex;
}

/*------------------------------*/
/* docs-article */
/*------------------------------*/

.docs-article {
	flex-basis: 900px;
	padding: 0 50px;
	min-width: 0;
	font-size: 16px;
	line-height: 1.5em;
}

.docs-article h1 {
	font-size: 32px;
	margin-bottom: 0.75em;
}

.docs-article h2 {
	font-size: 24px;
	margin-top: 1.5em;
}

.docs-article h3 {
	font-size: 20px;
	margin-top: 1.5em;
}

.docs-article img {
	width: 100%;
	margin: 1em 0;
}

.docs-article pre code {
	font-size: 14px;
	padding: 0.75em 1em;
	border-radius: 4px;
	line-height: 1.5em;
}

/*------------------------------*/
/* docs-toc */
/*------------------------------*/

.docs-toc {
	flex-basis: 250px;
}

.book {
	margin-bottom: 20px;
}

.book-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.book-name h1 {
	color: #393939;
	font-size: 18px;
	font-weight: 500;
}

.book-name .arrow-right {
	background: #393939;
	width: 16px;
	height: 16px;
	-webkit-mask: url(/static/svg/arrow-right.svg) no-repeat center;
	mask: url(/static/svg/arrow-right.svg) no-repeat center;
}

.book-chapters {
	margin-left: 8px;
}

.book-chapters a {
	display: block;
	font-size: 14px;
	color: #717171;
	margin: 10px 0;
}

/*------------------------------*/
/* docs-minitoc */
/*------------------------------*/

.docs-minitoc {
	flex-basis: 250px;
}











