
/*------------------------------*/
/* basic */
/*------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: 500;
}

/*------------------------------*/
/* header */
/*------------------------------*/

body > header {
	background: #2E8555;
}

body > header nav {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

body > header section {
	height: 50px;
	display: flex;
	align-items: center;
}

body > header section > * {
	margin: 0 10px;
}

body > header section > *:first-child {
	margin-left: 0;
}

body > header section > *:last-child {
	margin-right: 0;
}

body > header a {
	font-weight: 400;
	color: white;
}

/*------------------------------*/
/* footer */
/*------------------------------*/

body > footer {
	background: #20232a;
	padding: 50px 0;
}

body > footer nav {
	max-width: 1400px;
	margin: 0 auto;
	text-align: right;
}

body > footer h1 {
	color: white;
	font-size: 15px;
	margin-bottom: 10px;
}
