# Testing
# batch=1
# width=640
# height=480
# width=800
# height=600
# Training
batch=8
width=256
height=256
channels=3
momentum=0.9
decay=0.0005
learning_rate=0.0001

[convolutional]
batch_normalize=1
filters=4
size=3
stride=1
padding=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=8
size=3
stride=1
padding=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
padding=1
activation=leaky

###########

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
padding=0
activation=leaky

[convolutional]
filters=5
size=1
stride=1
padding=0
activation=linear



[yolo]
classes=0
max_boxes=512
ignore_thresh = .7
anchor_w = 8
anchor_h = 16
